* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
